[submodule "python-feedstock"]
	path = python-feedstock
	url = git@github.com:AnacondaRecipes/python-feedstock.git
	branch = py313
[submodule "python_abi-feedstock"]
	path = python_abi-feedstock
	url = git@github.com:AnacondaRecipes/python_abi-feedstock.git
[submodule "wheel-feedstock"]
	path = wheel-feedstock
	url = git@github.com:AnacondaRecipes/wheel-feedstock.git
[submodule "pip-feedstock"]
	path = pip-feedstock
	url = git@github.com:AnacondaRecipes/pip-feedstock.git
[submodule "setuptools-feedstock"]
	path = setuptools-feedstock
	url = git@github.com:AnacondaRecipes/setuptools-feedstock.git
[submodule "flit-feedstock"]
	path = flit-feedstock
	url = git@github.com:AnacondaRecipes/flit-feedstock.git
[submodule "python-build-feedstock"]
	path = python-build-feedstock
	url = git@github.com:AnacondaRecipes/python-build-feedstock.git
[submodule "python-installer-feedstock"]
	path = python-installer-feedstock
	url = git@github.com:AnacondaRecipes/python-installer-feedstock.git
[submodule "meson-feedstock"]
	path = meson-feedstock
	url = git@github.com:AnacondaRecipes/meson-feedstock.git
[submodule "meson-python-feedstock"]
	path = meson-python-feedstock
	url = git@github.com:AnacondaRecipes/meson-python-feedstock.git
[submodule "pyproject-metadata-feedstock"]
	path = pyproject-metadata-feedstock
	url = git@github.com:AnacondaRecipes/pyproject-metadata-feedstock.git
[submodule "pytest-feedstock"]
	path = pytest-feedstock
	url = git@github.com:AnacondaRecipes/pytest-feedstock.git
[submodule "cython-feedstock"]
	path = cython-feedstock
	url = git@github.com:AnacondaRecipes/cython-feedstock.git
[submodule "pkgconfig-feedstock"]
	path = pkgconfig-feedstock
	url = git@github.com:AnacondaRecipes/pkgconfig-feedstock.git
[submodule "poetry-core-feedstock"]
	path = poetry-core-feedstock
	url = git@github.com:AnacondaRecipes/poetry-core-feedstock.git
[submodule "pyparsing-feedstock"]
	path = pyparsing-feedstock
	url = git@github.com:AnacondaRecipes/pyparsing-feedstock.git
[submodule "packaging-feedstock"]
	path = packaging-feedstock
	url = git@github.com:AnacondaRecipes/packaging-feedstock.git
[submodule "pretend-feedstock"]
	path = pretend-feedstock
	url = git@github.com:AnacondaRecipes/pretend-feedstock.git
[submodule "attrs-feedstock"]
	path = attrs-feedstock
	url = git@github.com:AnacondaRecipes/attrs-feedstock.git
[submodule "black-feedstock"]
	path = black-feedstock
	url = git@github.com:AnacondaRecipes/black-feedstock.git
[submodule "calver-feedstock"]
	path = calver-feedstock
	url = git@github.com:AnacondaRecipes/calver-feedstock.git
[submodule "editables-feedstock"]
	path = editables-feedstock
	url = git@github.com:AnacondaRecipes/editables-feedstock.git
[submodule "hatch-vcs-feedstock"]
	path = hatch-vcs-feedstock
	url = git@github.com:AnacondaRecipes/hatch-vcs-feedstock.git
[submodule "hatchling-feedstock"]
	path = hatchling-feedstock
	url = git@github.com:AnacondaRecipes/hatchling-feedstock.git
[submodule "hypothesis-feedstock"]
	path = hypothesis-feedstock
	url = git@github.com:AnacondaRecipes/hypothesis-feedstock.git
[submodule "mkl-service-feedstock"]
	path = mkl-service-feedstock
	url = git@github.com:AnacondaRecipes/mkl-service-feedstock.git
[submodule "mypy-feedstock"]
	path = mypy-feedstock
	url = git@github.com:AnacondaRecipes/mypy-feedstock.git
[submodule "mypy_extensions-feedstock"]
	path = mypy_extensions-feedstock
	url = git@github.com:AnacondaRecipes/mypy_extensions-feedstock.git
[submodule "numpy-feedstock"]
	path = numpy-feedstock
	url = git@github.com:AnacondaRecipes/numpy-feedstock.git
[submodule "pandas-feedstock"]
	path = pandas-feedstock
	url = git@github.com:AnacondaRecipes/pandas-feedstock.git
[submodule "pathspec-feedstock"]
	path = pathspec-feedstock
	url = git@github.com:AnacondaRecipes/pathspec-feedstock.git
[submodule "pluggy-feedstock"]
	path = pluggy-feedstock
	url = git@github.com:AnacondaRecipes/pluggy-feedstock.git
[submodule "psutil-feedstock"]
	path = psutil-feedstock
	url = git@github.com:AnacondaRecipes/psutil-feedstock.git
[submodule "pyproject_hooks-feedstock"]
	path = pyproject_hooks-feedstock
	url = git@github.com:AnacondaRecipes/pyproject_hooks-feedstock.git
[submodule "pytz-feedstock"]
	path = pytz-feedstock
	url = git@github.com:AnacondaRecipes/pytz-feedstock.git
[submodule "setuptools_scm-feedstock"]
	path = setuptools_scm-feedstock
	url = git@github.com:AnacondaRecipes/setuptools_scm-feedstock.git
[submodule "trove-classifiers-feedstock"]
	path = trove-classifiers-feedstock
	url = git@github.com:AnacondaRecipes/trove-classifiers-feedstock.git
[submodule "types-psutil-feedstock"]
	path = types-psutil-feedstock
	url = git@github.com:AnacondaRecipes/types-psutil-feedstock.git
[submodule "types-setuptools-feedstock"]
	path = types-setuptools-feedstock
	url = git@github.com:AnacondaRecipes/types-setuptools-feedstock.git
[submodule "typing_extensions-feedstock"]
	path = typing_extensions-feedstock
	url = git@github.com:AnacondaRecipes/typing_extensions-feedstock.git
[submodule "pytest-cov-feedstock"]
	path = pytest-cov-feedstock
	url = git@github.com:AnacondaRecipes/pytest-cov-feedstock.git
[submodule "coverage-feedstock"]
	path = coverage-feedstock
	url = git@github.com:AnacondaRecipes/coverage-feedstock.git
[submodule "versioneer-feedstock"]
	path = versioneer-feedstock
	url = git@github.com:AnacondaRecipes/versioneer-feedstock.git
[submodule "bottleneck-feedstock"]
	path = bottleneck-feedstock
	url = git@github.com:AnacondaRecipes/bottleneck-feedstock.git
[submodule "rich-feedstock"]
	path = rich-feedstock
	url = git@github.com:AnacondaRecipes/rich-feedstock.git
[submodule "markdown-it-py-feedstock"]
	path = markdown-it-py-feedstock
	url = git@github.com:AnacondaRecipes/markdown-it-py-feedstock.git
[submodule "pygments-feedstock"]
	path = pygments-feedstock
	url = git@github.com:AnacondaRecipes/pygments-feedstock.git
[submodule "mdurl-feedstock"]
	path = mdurl-feedstock
	url = git@github.com:AnacondaRecipes/mdurl-feedstock.git
[submodule "numexpr-feedstock"]
	path = numexpr-feedstock
	url = git@github.com:AnacondaRecipes/numexpr-feedstock.git
[submodule "pytest-forked-feedstock"]
	path = pytest-forked-feedstock
	url = git@github.com:AnacondaRecipes/pytest-forked-feedstock.git
[submodule "requests-feedstock"]
	path = requests-feedstock
	url = git@github.com:AnacondaRecipes/requests-feedstock.git
[submodule "urllib3-feedstock"]
	path = urllib3-feedstock
	url = git@github.com:AnacondaRecipes/urllib3-feedstock.git
[submodule "idna-feedstock"]
	path = idna-feedstock
	url = git@github.com:AnacondaRecipes/idna-feedstock.git
[submodule "certifi-feedstock"]
	path = certifi-feedstock
	url = git@github.com:AnacondaRecipes/certifi-feedstock.git
[submodule "pysocks-feedstock"]
	path = pysocks-feedstock
	url = git@github.com:AnacondaRecipes/pysocks-feedstock.git
[submodule "brotli-feedstock"]
	path = brotli-feedstock
	url = git@github.com:AnacondaRecipes/brotli-feedstock.git
[submodule "filelock-feedstock"]
	path = filelock-feedstock
	url = git@github.com:AnacondaRecipes/filelock-feedstock.git
[submodule "jinja2-feedstock"]
	path = jinja2-feedstock
	url = git@github.com:AnacondaRecipes/jinja2-feedstock.git
[submodule "markupsafe-feedstock"]
	path = markupsafe-feedstock
	url = git@github.com:AnacondaRecipes/markupsafe-feedstock.git
[submodule "pyyaml-feedstock"]
	path = pyyaml-feedstock
	url = git@github.com:AnacondaRecipes/pyyaml-feedstock.git
[submodule "filesystem-spec-feedstock"]
	path = filesystem-spec-feedstock
	url = git@github.com:AnacondaRecipes/filesystem-spec-feedstock.git
[submodule "docutils-feedstock"]
	path = docutils-feedstock
	url = git@github.com:AnacondaRecipes/docutils-feedstock.git
