[submodule "python-feedstock"]
	path = python-feedstock
	url = git@github.com:AnacondaRecipes/python-feedstock.git
	branch = py313
[submodule "python_abi-feedstock"]
	path = python_abi-feedstock
	url = git@github.com:AnacondaRecipes/python_abi-feedstock.git
[submodule "wheel-feedstock"]
	path = wheel-feedstock
	url = git@github.com:AnacondaRecipes/wheel-feedstock.git
[submodule "pip-feedstock"]
	path = pip-feedstock
	url = git@github.com:AnacondaRecipes/pip-feedstock.git
[submodule "setuptools-feedstock"]
	path = setuptools-feedstock
	url = git@github.com:AnacondaRecipes/setuptools-feedstock.git
[submodule "flit-feedstock"]
	path = flit-feedstock
	url = git@github.com:AnacondaRecipes/flit-feedstock.git
[submodule "python-build-feedstock"]
	path = python-build-feedstock
	url = git@github.com:AnacondaRecipes/python-build-feedstock.git
[submodule "python-installer-feedstock"]
	path = python-installer-feedstock
	url = git@github.com:AnacondaRecipes/python-installer-feedstock.git
[submodule "meson-feedstock"]
	path = meson-feedstock
	url = git@github.com:AnacondaRecipes/meson-feedstock.git
[submodule "meson-python-feedstock"]
	path = meson-python-feedstock
	url = git@github.com:AnacondaRecipes/meson-python-feedstock.git
[submodule "pyproject-metadata-feedstock"]
	path = pyproject-metadata-feedstock
	url = git@github.com:AnacondaRecipes/pyproject-metadata-feedstock.git
[submodule "pytest-feedstock"]
	path = pytest-feedstock
	url = git@github.com:AnacondaRecipes/pytest-feedstock.git
